@charset "UTF-8";
#loading {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: black; }
  #loading-progress {
    position: absolute;
    top: calc(50vh + 80px);
    left: calc(50vw - 77px);
    width: 234px;
    margin: 0 0 0 -40px; }
  #loading-percent {
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.25rem; }
  #loading-gauge {
    width: 0;
    height: 5px;
    background: #ffffff; }

/*------
　矢印
------*/
.arrow3 {
  width: 10px; }
  .arrow3:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 2px;
    height: 30px;
    background: #fff; }
  .arrow3:after {
    content: "";
    display: block;
    border-top: 12px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent; }

/*------
snsボタン
------*/
.button {
  cursor: pointer;
  display: block;
  margin: 1em;
  border: none;
  background: none;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  width: 60px;
  height: 60px;
  min-width: 0;
  padding: 0;
  color: #fff;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  border-radius: 40px; }
  .button:focus {
    outline: none; }
  .button > span {
    vertical-align: middle; }
  .button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: -1;
    -webkit-box-shadow: inset 0 0 0 35px #fff;
    box-shadow: inset 0 0 0 35px #fff;
    -webkit-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
    -webkit-transition: box-shadow 0.3s, -webkit-transform 0.3s;
    -webkit-transition: -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
    transition: -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
    -o-transition: box-shadow 0.3s, transform 0.3s;
    transition: box-shadow 0.3s, transform 0.3s;
    transition: box-shadow 0.3s, transform 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s; }
  .button i {
    color: black; }
  .button:hover:before {
    -webkit-box-shadow: inset 0 0 0 1px #fff;
    box-shadow: inset 0 0 0 1px #fff; }
  .button:hover i {
    color: white; }

/*------
view more
------*/
.btn {
  width: 140px;
  height: 50px;
  border: 1px solid #12131d;
  text-align: center;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  float: left;
  position: relative; }
  .btn-back {
    width: 210px;
    height: 500px;
    position: absolute;
    top: -50px;
    left: -190px;
    background: #12131d;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: rotateZ(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotateZ(-20deg);
    z-index: 1; }
  .btn a {
    font-size: 1rem;
    color: #12131d;
    line-height: 50px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 2;
    position: relative; }
  .btn:hover .btn-back {
    left: 50px; }
  .btn:hover a {
    color: #fff; }

/*------
ハンバーガー
------*/
.hamburger {
  cursor: pointer;
  z-index: 2000;
  position: fixed;
  top: 25px;
  left: 40px;
  height: 22px; }
  .hamburger .back-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black; }

#hamburger-check {
  display: none; }
  #hamburger-check + .hamburger {
    z-index: 500;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    #hamburger-check + .hamburger .menu-trigger {
      cursor: pointer;
      display: inline-block;
      -webkit-transition: all .4s;
      -o-transition: all .4s;
      transition: all .4s;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      position: relative;
      width: 25px;
      height: 22px; }
      #hamburger-check + .hamburger .menu-trigger span {
        display: inline-block;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        border-radius: 4px; }
        #hamburger-check + .hamburger .menu-trigger span:nth-of-type(1) {
          top: 0; }
        #hamburger-check + .hamburger .menu-trigger span:nth-of-type(2) {
          top: 20px; }
        #hamburger-check + .hamburger .menu-trigger span:nth-of-type(3) {
          bottom: 10px; }
    #hamburger-check + .hamburger + .modal {
      font-family: "Apple SD Gothic Neo",sans-serif;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      z-index: 400;
      position: fixed;
      top: 0;
      left: -100vw;
      width: 100vw;
      height: 100vh;
      background-color: #31334f; }
      #hamburger-check + .hamburger + .modal ul {
        margin-top: 14vh; }
        #hamburger-check + .hamburger + .modal ul li {
          padding: 10px 0 20px 50px;
          width: 200px;
          font-size: 1.8rem; }
          #hamburger-check + .hamburger + .modal ul li a {
            color: white; }
  #hamburger-check:checked + .hamburger {
    height: 40px;
    top: 15px; }
    #hamburger-check:checked + .hamburger + .modal {
      left: 0; }
    #hamburger-check:checked + .hamburger .menu-trigger {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg); }
      #hamburger-check:checked + .hamburger .menu-trigger span:nth-of-type(1) {
        -webkit-transform: translateY(20px) rotate(-45deg);
        -ms-transform: translateY(20px) rotate(-45deg);
        transform: translateY(20px) rotate(-45deg); }
      #hamburger-check:checked + .hamburger .menu-trigger span:nth-of-type(2) {
        -webkit-transform: translateY(0) rotate(45deg);
        -ms-transform: translateY(0) rotate(45deg);
        transform: translateY(0) rotate(45deg); }
      #hamburger-check:checked + .hamburger .menu-trigger span:nth-of-type(3) {
        opacity: 0; }

/*------
ハンバーガー内メニュー
------*/
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (--min-sm) {
    .menu {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }
  @media (--min-sm) {
    .menu > li:not(:last-child) {
      margin-right: 40px; } }
  .menu li a {
    position: relative;
    display: inline-block;
    font-weight: 300;
    color: #666;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease; }
    .menu li a:hover {
      color: #aaa; }
      .menu li a:hover::after, .menu li a:hover::before {
        width: 100%;
        left: 0; }
    .menu li a::after, .menu li a::before {
      content: '';
      position: absolute;
      top: calc(100% + 5px);
      width: 0;
      right: 0;
      height: 3px; }
    .menu li a::before {
      -webkit-transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
      -o-transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
      transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
      background: #929292; }
    .menu li a::after {
      -webkit-transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
      -o-transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
      transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
      background: white; }
