* {
  padding: 0;
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
  &:hover {
    color: black;
  }
}
ul {
  list-style: none;
}
body {
  position: relative;
  font-family: "Noto Sans",sans-serif;
  overflow-x: hidden;
  color: white;
}

.flex-reverse {
  flex-flow: row-reverse;
}

.header-back {
  z-index: 300;
  position: sticky;
  top: 0;
  height: 70px;
  width: 100vw;
  background-color: #12131d;
}

.main-container {
  position: relative;
  background-color: #12131d;
  width: 100%;
  height: calc(100vh - 70px);
  .logo {
    position: absolute;
    top: 0;
    height: 211px;
    width: 154px;
    margin: calc(50vh - 150px) 0 0 calc(50vw - 77px);
  }
  .copyright {
    font-size: 0.75rem;
    position: absolute;
    top: 5rem;
    right: -2rem;
    display: inline-block;
    transform: rotate(90deg);
  }
  .sub-title {
    position: absolute;
    top: calc(50vh + 90px);
    font-family: "BodoniSvtyTwoITCTT-Book",sans-serif;
    font-size: 3rem;
    width: 100%;
    text-align: center;
  }
  .scroll {
    width: 50px;
    position: absolute;
    bottom: 0;
    left: calc(50vw - 25px);
    text-align: center;
    &-text {
      font-size: 0.875rem;
      margin-bottom: 18px;
    }
    &-arrow {
      margin: auto;
    }
  }
}

.sub {
  overflow: hidden;
  position: relative;
  width: 100vw;
  background-color: white;
  color: #000;
  .section-ttl {
    margin: 50px auto 50px auto;
    width: 150px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
    font-family: "Apple SD Gothic Neo",sans-serif;
    border-bottom: 1px solid black;
  }
  &-container {
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &-text {
      z-index: 100;
      width: 46vw;
      height: 50vh;
      padding: 0 3vw 3vw 3vw;
      .ttl {
        margin: 0 0 30px 0;
        font-weight: 100;
        font-size: 2rem;
      }
      .description {
        margin: 0 0 30px 0;
      }
    }
    &-content {
      overflow: hidden;
      width: 50vw;
      min-width: 300px;
      height: 50vh;
      img {
        width: 100vw;
        min-width: 500px;
      }
    }
  }
}

.footer {
  background-color: #12131d;
  position: relative;
  margin-top: 30px;
  padding: 30px;
  &-ttl {
    display: flex;
    align-items: center;
    &-supota {
      display: flex;
      align-items: center;
      img {
        margin-right: 10px;
        width: 33px;
        height: 45px;
      }
      h1 {
        margin-right: 30px;
      }
    }
    ul {
      li {
        margin: 0 20px 0 20px;
        border-bottom: 0;
        p {
          border-bottom: 0 solid white;
        }
        &:hover {
        }
      }
    }
  }
}









@media screen and (max-width: 600px) {
  .main-container {
    .logo {
      width: 90px;
      height: 124px;
      margin: calc(50vh - 120px) 0 0 calc(50vw - 45px);
    }
    .sub-title {
      font-size: 1.5rem;
    }
  }
  .sub {
    height: initial;
    &-container {
      &-content {
        min-width: initial;
        width: 40vw;
        img {
          min-width: initial;
        }
      }
      &-text {
        width: 60vw;
        .ttl {
          font-weight: 100;
          font-size: 1.3rem;
        }
      }
    }
  }
  .footer {
    padding: 30px;
    &-ttl {
      display: initial;
      ul {
        display: block;
        li {
          margin: 10px 20px 0 0;
        }
      }
    }
    .container {
      position: absolute;
      top: 10px;
      right: 20px;
    }
  }
}
