* {
  padding: 0;
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
  &:hover {
    color: black;
  }
}
ul {
  list-style: none;
}
body {
  position: relative;
  font-family: "Noto Sans",sans-serif;
  overflow-x: hidden;
  color: white;
}


.header-back {
  z-index: 300;
  position: sticky;
  top: 0;
  height: 70px;
  width: 100vw;
  background-color: #12131d;
}

.main-container {
  position: relative;
  background-color: #12131d;
  width: 100%;
  height: calc(100vh - 70px);
  .logo {
    position: absolute;
    top: 0;
    height: 211px;
    width: 154px;
    margin: calc(50vh - 150px) 0 0 calc(50vw - 77px);
  }
  .copyright {
    font-size: 0.75rem;
    position: absolute;
    top: 5rem;
    right: -2rem;
    display: inline-block;
    transform: rotate(90deg);
  }
  .sub-title {
    position: absolute;
    top: calc(50vh + 90px);
    font-family: "BodoniSvtyTwoITCTT-Book",sans-serif;
    font-size: 3rem;
    width: 100%;
    text-align: center;
  }
  .scroll {
    width: 50px;
    position: absolute;
    bottom: 0;
    left: calc(50vw - 25px);
    text-align: center;
    &-text {
      font-size: 0.875rem;
      margin-bottom: 18px;
    }
    &-arrow {
      margin: auto;
    }
  }
}

.sub {
  overflow: hidden;
  position: relative;
  width: 100vw;
  background-color: white;
  color: #000;
  .section-ttl {
    width: 150px;
    text-align: left;
    position: relative;
    top: 100px;
    left: 3vw;
    font-size: 2.5rem;
    font-weight: 300;
    font-family: "Apple SD Gothic Neo",sans-serif;
    border-bottom: 1px solid black;
  }
  &-container {
    color: #000;
    &-text {
      position: relative;
      z-index: 100;
      width: calc(100vw);
      height: 50vh;
      padding: 3vw;
      .ttl {
        position: relative;
        margin: 100px 0 30px 0;
        font-weight: 100;
        font-size: 2rem;
      }
      .description {
        position: relative;
        margin: 0 0 30px 0;
      }
    }
    &-content {
      position: absolute;
      top: 120px;
      right: 3vw;
      margin: 0 0 0 3vw;
      width: calc(60vw - 6vw);
      min-width: 400px;
      height: 50vh;
      background-color: #9e9e9e;
    }
    .member {
      width: 100%;
      margin-top: 140px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      li {
        width: 230px;
        div img {
          border-radius: 500px;
          margin: 15px;
          width: 200px;
          height: 200px;
          background-color: #9e9e9e;
        }
        h1 {
          text-align: center;
          font-size: 2rem;
        }
        p {
          word-break: break-all;
        }
      }
    }
  }
}

.footer {
  background-color: #12131d;
  position: relative;
  margin-top: 30px;
  padding: 30px;
  &-ttl {
    display: flex;
    align-items: center;
    &-supota {
      display: flex;
      align-items: center;
      img {
        margin-right: 10px;
        width: 33px;
        height: 45px;
      }
      h1 {
        margin-right: 30px;
      }
    }
    ul {
      li {
        margin: 0 20px 0 20px;
        border-bottom: 0;
        p {
          border-bottom: 0 solid white;
        }
        &:hover {
        }
      }
    }
  }
}









@media screen and (max-width: 600px) {
  .main-container {
    .logo {
      width: 90px;
      height: 124px;
      margin: calc(50vh - 120px) 0 0 calc(50vw - 45px);
    }
    .sub-title {
      font-size: 1.5rem;
    }
  }
  .sub {
    height: initial;
    &-container {
      &-content {
        width: 40vw;
        min-width: initial;
        height: 50vh;
      }
      &-text {
        height: 50vh;
        padding: 3vw;
        .ttl {
          position: relative;
          margin: 100px 0 30px 0;
          font-weight: 100;
          font-size: 1.3rem;
        }
        .description {
          position: relative;
          padding: 0 30px 0 0;
        }
      }
      .member {
        width: 300px;
        margin: 140px auto 0 auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        li {
          width: 130px;
          div img {
            border-radius: 500px;
            margin: 15px;
            width: 100px;
            height: 100px;
            background-color: #9e9e9e;
          }
          h1 {
            text-align: center;
            font-size: 1.2rem;
          }
          p {
            font-size: 0.7rem;
            word-break: break-all;
          }
        }
      }
    }
  }
  .footer {
    padding: 30px;
    &-ttl {
      display: initial;
      ul {
        display: block;
        li {
          margin: 10px 20px 0 0;
        }
      }
    }
    .container {
      position: absolute;
      top: 10px;
      right: 20px;
    }
  }
}
